*{
  padding: 0;
  margin: 0;
  font-size: 2rem;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.red {
  color: red;
}

#main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 0 5rem;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 2rem;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}
.card-container::-webkit-scrollbar {
  width: 0; /* Chrome, Safari, and Opera */
  height: 0; /* Chrome, Safari, and Opera */
}

.card {
  border: .1rem solid #333333;
  border-radius: 1rem;
  padding: .5rem;
  overflow: hidden;

  flex: 0 0 calc(20% - 2rem);
}
